<div class="container">
<div class="card white">
<h4 class="center-align">注文状況</h4>

  <table class="bordered">
    <thead>
      <tr>
        <th data-field="image"></th>
        <th data-field="name">お品物</th>
        <th data-field="order-time">注文時間</th>
        <th data-field="order-count">注文数</th>
        <th data-field="table-number">お名前</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="orderItem in orderItems">
        <td><img ng-src="/img/product/{{ orderItem.productId }}.png"
            class="responsive-img" width="100px"></img></td>
        <td>{{ orderItem.productName }}</td>
        <td>{{ orderItem.orderedOn.hour | numberFixedLen:2 }}:{{ orderItem.orderedOn.minute | numberFixedLen:2 }}</td>
        <td>{{ orderItem.quantity }} 皿</td>
        <td>{{ orderItem.orderGuestName }} さん</td>
        <td><a class="waves-effect waves-light btn-large" ng-click="deliver(orderItem.orderItemId)">お届け</a></td>
      </tr>
    </tbody>
  </table>
</div>
</div>